@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
  background-color: #eaeff7;
  font-family: 'Montserrat', sans-serif;
}

.App {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-top: 10px;
  text-align: left;
  color: #502272;
}

h2 {
  color: #64318a;
  font-size: 20px;
}

h3 a {
  text-decoration: none;
}

h3 a:hover {
  color: orangered;
}

h4 {
  color: #757577;
  margin: 10px;
}

h5 {
  float: right;
  font-size: 18px;
}

p {
  color: #757577;
  font-size: 16px;
  margin: 0;
}

.flex-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

input {
  max-width: 194px;
  height: 30px;
  margin: 5px;
  font-size: 12px;
  padding-left: 2px;
  background-image: none !important;
}

select {
  max-width: 200px;
  height: 36px;
  margin-right: 5px;
}

button {
  background-color: #64318a;
  padding: 0px 57px;
  border: 1px solid #64318a;
  margin: 5px;
  color: white;
  max-width: 200px;
  height: 35px;
  cursor: pointer;
}

button:hover {
  background-color: #ffffff;
  border: 1px solid #64318a;
  color: #64318a;
}